body{
    background-color: #f0f0f0;
}

header{
    background-color: #1a1a1d;
}

footer{
    background-color: #1a1a1d;
}

main{
    flex: 1 0 auto;
}

h1{
    text-align: center;
    font-family: codeb;
}

h2{
    font-size: 10px;
    text-align: center;
    font-family: codeb;
}

p{
    font-family: codeb;
}

#main-vid{
    position: relative;
}

#video-background {
    left: 0;
    right: 0; 
    bottom: 0;
    width: 30%; 
    height: 100%;
    z-index: -100;
    position: fixed;
}

@font-face{
    font-family: ave;
    src: url(../fonts/AveFedan.ttf);
}

@font-face{
    
    font-family: codeb;
    src: url(../fonts/CODEBold.ttf);
}

@font-face{
    font-family: codel;
    src: url(../fonts/CODELight.ttf);
}

.menu-link{
    color: #f0f0f0;
}

.products-header h1{
    font-size: 25px;
    font-family: codeb;
}

.products-header p{
    color: #4e4e50;
    font-size: 15px;
    font-family: codeb;
}

.products{
    width: 100%;
    text-align: center;
}

.product-item{
    width: 300px;
    height: 500px;
    display: inline-block;
    margin-right: 6px;
    text-align: center;
}

.product-item figure{
    font-family: "Franklin Gothic Medium";
	color: rgba(89, 89, 89, 1);
	font-size: 0.8rem;
	font-weight: 600;
	letter-spacing: 0.02rem;
	text-align: center;
	padding: 1rem 0rem 0rem;
	text-transform: uppercase;
}

.product-item figure img{
    width: 100%;
    height: auto;
}

.product-item figure:hover{
    transform: scale(1.05);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
}

.presentation-container{
    align-content: center;
    padding: 5%;
    flex: 1 1 80%;
}

.presentation{
    display: grid;
    height: 80%;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2%;
}

.left-main{
    grid-row: span 8;
    grid-column: span 3;
    background: url("../img/main.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.left-main img{
    width: 100%;
    height: auto;
}

.right-up-main{
    grid-row: span 4;
    grid-column: span 3;
    background-color: #1a1a1d;
}

.right-up-main video{
    width: auto;
    height: 100%;
}

.right-up-main hr{
    width: 80%;
    height: 2px;
    border: none;
    background-color: #c3073f;
    color: #c3073f;
}

.right-up-main h1{
    font-family: ave;
    color: #c3073f;
    margin-top: 17%;
}

.right-up-main p{
    font-family: codeb;
    font-size: 1.5em;
    color: #f0f0f0;
}

.right-down-main{
    grid-row: span 4;
    grid-column: span 3;
    background: url("../img/main3.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.right-down-main img{
    width: auto;
    height: 100%;
}