:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    color: var(--dark);
}

body{
    background-color: #f0f0f0;
    line-height: 1.4;
}

header{
    background-color: #1a1a1d;
}

er{
    background-color: #1a1a1d;
}

main{
    flex: 1 0 auto;
    margin: 30px 50px;
    text-align: center;
}

h1{
    text-align: center;
    font-family: codeb;
}

h2{
    font-size: 10px;
    text-align: center;
    font-family: codeb;
}

p{
    font-family: codeb;
}

#main-vid{
    position: relative;
}

#video-background {
    left: 0;
    right: 0; 
    bottom: 0;
    width: 30%; 
    height: 100%;
    z-index: -100;
    position: fixed;
}

@font-face{
    font-family: ave;
    src: url(../fonts/AveFedan.ttf);
}

@font-face{
    
    font-family: codeb;
    src: url(../fonts/CODEBold.ttf);
}

@font-face{
    font-family: codel;
    src: url(../fonts/CODELight.ttf);
}

.menu-link{
    color: #f0f0f0;
}

.products-header h1{
    font-size: 25px;
    font-family: codeb;
}

.products-header p{
    color: #4e4e50;
    font-size: 15px;
    font-family: codeb;
}

.products{
    width: 100%;
    text-align: center;
}

.product-item{
    width: 100%;
    display: inline-block;
    margin-right: 6px;
    text-align: center;
}

.product-item figure{
    font-family: "Franklin Gothic Medium";
	color: rgba(89, 89, 89, 1);
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 0.02rem;
	text-align: center;
	padding: 1rem 0rem 0rem;
	text-transform: uppercase;
}

.product-item figure img{
    width: 100%;
    height: auto;
}

.product-item figure:hover{
    transform: scale(1.05);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
}

.presentation-container{
    align-content: center;
    padding: 5%;
    flex: 1 1 80%;
}

.presentation{
    display: grid;
    height: 80%;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2%;
}

.left-main{
    grid-row: span 8;
    grid-column: span 3;
    background: url("../img/main.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.left-main img{
    width: 100%;
    height: auto;
}

.right-up-main{
    grid-row: span 4;
    grid-column: span 3;
    background-color: #1a1a1d;
}

.right-up-main video{
    width: auto;
    height: 100%;
}

.right-up-main hr{
    width: 80%;
    height: 2px;
    border: none;
    background-color: #c3073f;
    color: #c3073f;
}

.right-up-main h1{
    font-family: ave;
    color: #c3073f;
    margin-top: 17%;
}

.right-up-main p{
    font-family: codeb;
    font-size: 1.5em;
    color: #f0f0f0;
}

.right-down-main{
    grid-row: span 4;
    grid-column: span 3;
    background: url("../img/main3.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.right-down-main img{
    width: auto;
    height: 100%;
}

/* Main grid css variables */

  .button {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
  }
  
  img {
    max-width: 100%;
  }
  
  .gridwr {
    display: grid;
    grid-gap: 20px;
  }
  
  /* Navigation */
  .main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
  }
  
  .main-nav a:hover {
    background: var(--dark);
    color: var(--light);
  }
  
  /* Top Container */
  .top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      'showcase showcase top-box-a'
      'showcase showcase top-box-b';
  }
  
  /* Showcase */
  .showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(https://image.ibb.co/kYJK8x/showcase.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
  }
  
  .showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
  }
  
  .showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
  }
  
  /* Top Box */
  .top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
  }
  
  .top-box .price {
    font-size: 2.5rem;
  }
  
  .top-box-a {
    grid-area: top-box-a;
  }
  
  .top-box-b {
    grid-area: top-box-b;
  }
  
  /* Boxes */
  .boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .box {
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
  }
  
  .info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
  }
  
  .portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
  }
  
  @media (max-width: 700px) {
    .top-container {
      grid-template-areas:
        'showcase showcase'
        'top-box-a top-box-b';
    }
  
    .showcase h1 {
      font-size: 2.5rem;
    }
  
    .main-nav ul {
      grid-template-columns: 1fr;
    }
  
    .info {
      grid-template-columns: 1fr;
    }
  
    .info .button {
      display: block;
      text-align: center;
      margin: auto;
    }
  }
  
  @media (max-width: 500px) {
    .top-container {
      grid-template-areas:
        'showcase'
        'top-box-a'
        'top-box-b';
    }
  }
  
  /* Products css variables */
.product-boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.box-product {
    text-align: center;
    padding: 1.5rem 2rem;
}

.gridwr hr{
    width: 80%;
    height: 4px;
    border: none;
    background-color: #c3073f;
    color: #c3073f;
}
.gridwr p{
    font-size: 25px;
}