<head>
    <title>Lecturópolis</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/materialize.css">
    <link href="https://res.cloudinary.com/degtjs2lg/image/upload/v1558082821/Lectu_ltdc5m.png" rel="icon" type="image/x-icon" />
    <script type="text/javascript" src="js/materialize.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140668905-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-140668905-1', { 'optimize_id': 'GTM-MDDGBP3'});
    </script>


</head>
