<html>
    {{> head}}

    <body>
        {{> header}}

        <main>
            {{> errors}}
        </main>

            <div class="form-div">
                <form action="/admin_libro" method="POST" enctype="multipart/form-data" aria-label="Formulario para añadir libros">
                    <h1>Admin</h1>

                    <div class="row">

                        <div class="input-field col s12">
                            <input placeholder="Nombre del libro" name="tittle" type="text" class="validate" aria-required="true" required>
                            <label for="tittle">Nombre del libro</label>
                        </div>

                        <div class="input-field col s12" role="listbox">
                            <select name="category">
                                <option value="" disabled selected aria-selected="true">Elige una categoría</option>
                                <option value="Terror">Terror</option>
                                <option value="Adventure">Aventura</option>
                                <option value="Erotic">Erótico</option>
                                <option value="Romantic">Romántico</option>
                                <option value="Historic">Historico</option>
                                <option value="Biografic">Biografico</option>
                            </select>

                            <label for="category">Categoría</label>
                        </div>

                        <div class="input-field col s12">
                            <input placeholder="Autor" name="author" type="text" class="validate" aria-required="true" required>
                            <label for="author">Autor</label>
                        </div>
                    
                        <div class="input-field col s12">
                            <input placeholder="Precio" name="price" type="number" class="validate" step="0.01" aria-required="true" required>
                            <label for="price">Precio</label>
                        </div>

                        <div class="file-field input-field col s12">
                            <div class="btn">
                                Foto
                                <input type="file" name="image" aria-label="Seleccionar imagen">
                            </div>
                            <div class="file-path-wrapper" style="color: #fff;">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>

                    </div>
                    
                    <button class="login-btn">Publicar</button>

                </form>
            </div>

            <main>
                <table class="centered" role="table">
                    <thead>
                        <tr role="row">
                            <th role="columnheader">Libro</th>
                            <th role="columnheader">Precio</th>
                            <th role="columnheader">Borrar</th>
                            <th role="columnheader">Editar</th>
                        </tr>        
                    </thead>

                    <tbody>
                        {{#each books}}
                        <tr role="row">
                            <td role="cell">{{tittle}}</td>
                            <td role="cell">{{price}}</td>
                            <td role="cell">
                                <form action="/admin_libro/borrar/{{_id}}" method="POST" style="background: #0b0c10">
                                    <button class="delete_btn" type="submit">Borrar</button>
                                </form>
                            </td>
                            <td role="cell">
                                <form action="/admin_libro/editar/{{_id}}" method="POST" style="background: #0b0c10">
                                    <button class="edit_btn" type="submit">Editar</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </main>

            <script>
                $(document).ready(function(){
                    $('select').formSelect();
                });
            </script>
    </body>
</html>