<html lang="es">
    {{> head}}
    
    <body>       
        {{> header}}
        
        <div class="main-head hide-on-med-and-down">
            <h1>Contacto</h1>
        </div>

        <main>
            <h1>Historia</h1>

            <p>Lecturópolis es un proyecto es un proyecto web desarrollado por un equipo universitario para la asignatura
                Usabilidad y Accesibilidad del grado de Ingeniería Informática en la ULL impulsado por la doctora Isabel 
                Sanchez Berriel.

                <br>
                <br>

                El proyecto se ejecuta en el año 2019 por un grupo compuesto por dos personas Sergio Manuel Rodríguez Vega y
                Javier Rodríguez Alonso encargados del completo desarrollo de la aplicación.
            </p>

            <br>

            <p>Gracias por su interés en Lecturopolis. Si desea hablar con un miembro de nuestro equipo, tómese un momento para 
                completar el breve formulario. Un representante de MongoDB se pondrá en contacto con usted lo antes posible.
                
                <br>
                <br>

                Si desea hablar con un representante de ventas ahora:
            </p>

            <ul>
                <li>Llama +34 902 20 80 32</li>
                <li>Llama +34 822 40 30 37</li>
                <li>Llama +34 900 80 23 02</li>
            </ul>

            <h1>¿Estás buscando apoyo?</h1>

            <p> Los clientes actuales de MongoDB deben visitar nuestro portal de soporte para enviar un ticket de soporte, verificar el estado y encontrar información de contacto telefónico para nuestro equipo de soporte global.
                
                <br>
                <br>

                Para obtener detalles adicionales sobre cómo comenzar con el soporte de MongoDB, visite Cómo comenzar con el soporte.
            </p>

            <h1>Sugerencias</h1>

            <div class="form-div">
                <form action="" method="POST" aria-label="Formulario para añadir sugerencias">
                    <h1>Contacto</h1>

                    <div class="social-container">
                        <a href="#" class="social"><img src="https://img.icons8.com/material-outlined/24/000000/facebook.png"></a>
                        <a href="#" class="social"><img src="https://img.icons8.com/material/24/000000/google-plus.png"></a>
                        <a href="#" class="social"><img src="https://img.icons8.com/material/24/000000/linkedin.png"></a>
                    </div>
                    <span>o usa tu cuenta</span>

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Email" name="email" type="email" class="validate" aria-required="true" required>
                            <label for="email">Email</label>
                        </div>

                        <div class="input-field col s12">
                            <input placeholder="Sugerencia" name="sugerencia" type="text" class="validate" aria-required="true" required>
                            <label for="sugerencia">Sugerencia</label>
                        </div>

                        <div class="input-field col s12">
                            <input placeholder="Telefono de contacto" name="phone" type="text" class="validate" aria-required="true" required>
                            <label for="phone">Telefono de contacto</label>
                        </div>

                    </div>
                    
                    <button class="login-btn" aria-label="Actualizar">Contactar</button>

                    <br>
                    <br>

                </form>
            </div>
        </main>
    </body>

    <footer>

    </footer>

</html>