<html lang="es">
    {{> head}}
    
    <body>       
        {{> header}}

        <main>
            <table class="centered responsive-table">
                <thead>
                    <tr>
                        <th>Evento</th>
                        <th>Tipo</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
        
                <tbody>
                    {{#each events}}
                        <tr>
                            <td>{{event}}</td>
                            <td>{{type}}</td>
                            <td>{{date}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </main>
    </body>

    <footer>

    </footer>

</html>