<nav>
    <div class="nav-fixed">
        
        <div class="nav-wrapper">
            <ul>
                <li class="hide-on-med-and-down"><a href="#">Categorías</a></li>
                <li class="hide-on-med-and-down"><a href="#">Foro</a></li>
                <li><a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
                <li><a href="index.html" style="color:#c3073f; font-family: ave; font-size: 30px;">Lecturópolis</a></li>
                <li><a href="#" class="sidenav-trigger"><i class="material-icons">person</i></a></li>
                <li class="hide-on-med-and-down"><a href="events.html">Eventos</a></li>
                <li class="hide-on-med-and-down"><a href="#">Inicio</a></li>
            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile-nav">
    <li><a href="#">Categorías</a></li>
    <li><a href="#">Foro</a></li>
    <li><a href="events.html">Eventos</a></li>
    <li><a href="#">Contacto</a></li>
</ul>