<html lang="es">
    {{> head}}

    <body>

        <!-- Header section -->
        {{> header}}

        <!-- Errors section -->
        {{> errors}}

        <!-- Content section -->

        <div class="main-head hide-on-med-and-down">
            
        </div>

        <main>

            <!-- Principal grid -->
            <div class="gridwr">
                <section class="top-container">
                    <header class="showcase">
                        <h1>
                            Lecturópolis
                        </h1>
                        <p>
                            El hogar de la buena lectura
                        </p>
                        <a href="#" class="button">Más información</a>
                    </header>
                    <div class="top-box top-box-a">
                        <h4>Suscripción</h4>
                        <p class="price">20€/año</p>
                        <a href="" class="button">Comenzar</a>
                    </div>
                    <div class="top-box top-box-b">
                        <h4>Suscripción vip</h4>
                        <p class="price">$40€/año</p>
                        <a href="" class="button">Comenzar</a>
                    </div>
                </section>

                <section class="boxes">
                    <div class="box">
                        <i class="material-icons large">people</i>
                        <h3>Apoyanos</h3>
                        <p>Puedes realizar donaciones para ayudar en el desarrollo de esta aplicación.</p>
                    </div>
    
                    <div class="box">
                        <i class="material-icons large">accessibility</i>
                        <h3>Accesibilidad</h3>
                        <p>Esta página tiene como objetivo llegar a todo tipo de públicos por lo cual la accesibilidad es muy importante para nosotros.</p>
                    </div>
                </section>

                <br>
                <h1>Productos más recientes</h1>
                <hr>
                <p>Los productos más novedosos del último mes a un solo click de distancia.</p>

                <!-- Products section -->
                <section class="product-boxes">
                    {{#each books}}
                    <div class="box-product">
                        <div class="product-item">
                            <figure>
                                <img src="{{image}}" alt="portada del libro {{tittle}}">
                                <figcaption>{{tittle}}</figcaption>
                                <figcaption>{{price}}€</figcaption>
                            </figure>
                        </div>
                    </div>
                    {{/each}}
                </section>
            </div>
            <!-- End of principal grid -->

        </main>

        <!-- Footer section -->
        <footer>

        </footer>
    </body>

</html>