<html lang="es">
    {{> head}}

    <body>

        <!-- Header section -->
        {{> header}}

        <!-- Errors section -->
        {{> errors}}

        <!-- Content section -->

        <div class="index-head hide-on-med-and-down">
            <div class="carousel carousel-slider center">
                <h1 class="carousel-item">"El misterio de la vida no es un problema a resolver, sino una realidad a experimentar" (Duna, Frank Herbert)</h1>
                <h1 class="carousel-item">"Estar solo no tiene nada que ver con cuantas personas hay alrededor" (Revolutionary Road, Richard Yates)</h1>
                <h1 class="carousel-item">"Sea un hombre o sea más que un hombre. Sea firme con su propósito y firme como una piedra" (Frankestein, Mary Shelley)</h1>
                <h1 class="carousel-item">"Tengo esperanza o podría no vivir" (La isla del doctor Moreau, H.G. Wells)</h1>
                <h1 class="carousel-item">"Si buscas la perfección nunca estarás contento" (Anna Karenina, Leo Tolstoy)</h1>
            </div>
        </div>

        

        <div class="pricing-container">

            <!-- Principal grid -->
            <div class="gridwr">
                <section class="top-container">
                    <header class="showcase" tabindex="0">
                        <h1 tabindex="0">
                            Lecturópolis
                        </h1>
                        <p tabindex="0">
                            El hogar de la buena lectura
                        </p>
                        <a href="#" class="box-btn">Más información</a>
                    </header>
                    <div class="top-box top-box-a" tabindex="0">
                        <h4>Suscripción</h4>
                        <p class="price">20€/año</p>
                        <a href="" class="box-btn">Comenzar</a>
                    </div>
                    <div class="top-box top-box-b" tabindex="0">
                        <h4>Suscripción vip</h4>
                        <p class="price">40€/año</p>
                        <a href="" class="box-btn">Comenzar</a>
                    </div>
                </section>
            </div>

            <main>
                <h1 tabindex="0" style="margin-top:10%;">Productos más recientes</h1>
                <hr>
                <p tabindex="0">Los productos más novedosos del último mes a un solo click de distancia.</p>

                <!-- Products section -->

                <style>
                    .swiper-container {
                        margin-top: 5%;
                        width: 70%;
                        height: 500px;
                        min-width: 325px;
                    }

                    .swiper-slide {
                        background-position: center;
                        background-size: cover;
                        width: 325px;
                        height: 498.5px;
                    }
                </style>

                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {{#each books}}
                            <img src="{{image}}" class="swiper-slide" alt="portada del libro {{tittle}}" tabindex="0">
                        {{/each}}
                    </div>
                </div>
                    
                
                <!-- End of principal grid -->

            </main>

            <section class="pricing-section bg-1">
                <h1 class="pricing-section-title" tabindex="0" aria-label="Información">Información</h1>               

                <div class="pricing">
    
                    <div class="pricing-item" tabindex="0">
                        <h1 class="pricing-title">Apoyanos</h1>

                        <div class="pricing-price">
                            <span class="pricing-currancy">Dona lo que puedas</span>
                        </div>

                        <p class="pricing-sentence">
                            <i class="material-icons large" aria-label="Icono personas">people</i>
                            <br>
                            Puedes realizar donaciones para ayudar en el desarrollo de esta aplicación.
                        </p>

                        <a class="pricing-action" href="https://www.paypal.com/es/home" tabindex="0">Donar</a>
                    </div>

                    <div class="pricing-item" tabindex="0">
                        <h1 class="pricing-title">Accesibilidad</h1>

                        <div class="pricing-price">
                            <span class="pricing-currancy">Somos accesibles</span>
                        </div>

                        <p class="pricing-sentence">
                            <i class="material-icons large" aria-label="Icono accesibilidad">accessibility</i>
                            <br>
                            Esta página tiene como objetivo llegar a todo tipo de públicos por lo cual la accesibilidad es muy importante para nosotros.
                        </p>

                        <a class="pricing-action" href="https://docs.google.com/document/d/1rKJQ4G1jM2xV0PM9wGsLpSRb2XXYjFdFh1J5revFjWI/edit" tabindex="0">Leer más</a>
                    </div>

                    <div class="pricing-item" tabindex="0">
                        <h1 class="pricing-title">Sugerencias</h1>

                        <div class="pricing-price">
                            <span class="pricing-currancy">Ayudanos a mejorar</span>
                        </div>

                        <p class="pricing-sentence">
                            <i class="material-icons large" aria-label="Icono accesibilidad">email</i>
                            <br>
                            Contactanos por email y cuentanos tus inquietudes. Tus opiniones son importantes para nosotros.
                        </p>

                        <a class="pricing-action" href="/contacto" tabindex="0">Contactar</a>
                    </div>

                    <div class="pricing-item" tabindex="0">
                        <h1 class="pricing-title">Historia</h1>

                        <div class="pricing-price">
                            <span class="pricing-currancy">¿Quienes somos?</span>
                        </div>

                        <p class="pricing-sentence">
                            <i class="material-icons large" aria-label="Icono accesibilidad">business</i>
                            <br>
                            Lecturopolis es un proyecto canario para fomentar la lectura en la gente independientemente de su edad.
                        </p>

                        <a class="pricing-action" href="/contacto" tabindex="0">Leer más</a>
                    </div>

                </div>

            </section>
        </div>

        

        

        <!-- Footer section -->
        <footer>

        </footer>

        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
        <script>
            $('.carousel').carousel();
            setInterval(function() {
                $('.carousel').carousel('next');
            }, 15000);

            var swiper = new Swiper('.swiper-container', {
                effect: 'coverflow',
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: 'auto',
                coverflowEffect: {
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows : true,
                },
                pagination: {
                    el: '.swiper-pagination',
                },
            });

            swiper.slideTo(2, false,false);
        </script>
        
    </body>

</html>