<html lang="es">
    {{> head}}

    <body>
        {{> header}}

        <main>
            {{> errors}}
        </main>

        <div class="center-align form-div">
            <form action="/login" method="POST" aria-label="Formulario de inicio de sesi칩n">

                <div class="form-header">
                    <h1>Login</h1>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Email" name="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>

                    <div class="input-field col s12">
                        <input placeholder="Contrase침a" name="password" type="password" class="validate">
                        <label for="password">Contrase침a</label>
                    </div>
                </div>

                <button class="form-btn">Iniciar sesi칩n</button>

                <br>
                <br>

                <a href="/registrarse" class="col s6">Registrate</a>

                <hr style="width: 80%;">

            </form>
        </div>
    </body>

</html>