article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  font-size: 100%;
    box-sizing: border-box;
    color: var(--dark);
}

body{
    color: #fff;
    background-color: #0b0c10;
    line-height: 1.4;
}

header{
    background-color: #1a1a1d;
}

er{
    background-color: #1a1a1d;
}

main{
    flex: 1 0 auto;
    margin: 2% 10%;
    text-align: center;
}

h1{
    color: #66fcf1;
    text-align: center;
    font-family: codeb;
}

h2{
    font-size: 10px;
    text-align: center;
    font-family: codeb;
}

p{
    font-family: codeb;
}

li a:hover{
  background: #0b0c10;
}

#main-vid{
    position: relative;
}

#video-background {
    left: 0;
    right: 0; 
    bottom: 0;
    width: 30%; 
    height: 100%;
    z-index: -100;
    position: fixed;
}

@font-face{
    font-family: ave;
    src: url(../fonts/AveFedan.ttf);
}

@font-face{
    
    font-family: codeb;
    src: url(../fonts/CODEBold.ttf);
}

@font-face{
    font-family: codel;
    src: url(../fonts/CODELight.ttf);
}

.menu-link{
    color: #f0f0f0;
}

.products-header h1{
    font-size: 25px;
    font-family: codeb;
}

.products-header p{
    color: #4e4e50;
    font-size: 15px;
    font-family: codeb;
}

.products{
    width: 100%;
    text-align: center;
}

.product-item{
    width: 100%;
    display: inline-block;
    margin-right: 6px;
    text-align: center;
}

.product-item figure{
    font-family: "Franklin Gothic Medium";
	color: rgba(89, 89, 89, 1);
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 0.02rem;
	text-align: center;
	padding: 1rem 0rem 0rem;
	text-transform: uppercase;
}

.product-item figure img{
    width: 100%;
    height: auto;
}

.product-item figure:hover{
    transform: scale(1.05);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
}

.presentation-container{
    align-content: center;
    padding: 5%;
    flex: 1 1 80%;
}

.presentation{
    display: grid;
    height: 80%;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2%;
}

.left-main{
    grid-row: span 8;
    grid-column: span 3;
    background: url("../img/main.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.left-main img{
    width: 100%;
    height: auto;
}

.right-up-main{
    grid-row: span 4;
    grid-column: span 3;
    background-color: #1a1a1d;
}

.right-up-main video{
    width: auto;
    height: 100%;
}

.right-up-main hr{
    width: 80%;
    height: 2px;
    border: none;
    background-color: #ffdf01;
    color: #ffdf01;
}

.right-up-main h1{
    font-family: ave;
    color: #c3073f;
    margin-top: 17%;
}

.right-up-main p{
    font-family: codeb;
    font-size: 1.5em;
    color: #f0f0f0;
}

.right-down-main{
    grid-row: span 4;
    grid-column: span 3;
    background: url("../img/main3.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.right-down-main img{
    width: auto;
    height: 100%;
}

/* Main grid css variables */

  .button {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
  }
  
  img {
    max-width: 100%;
  }
  
  .gridwr {
    display: grid;
    grid-gap: 20px;
  }
  
  /* Navigation */
  .main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
  }
  
  .main-nav a:hover {
    background: var(--dark);
    color: var(--light);
  }
  
  /* Top Container */
  .top-container {
    margin: 0 13%;
    max-width: 80%;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      'showcase showcase top-box-a'
      'showcase showcase top-box-b';
  }
  
  /* Showcase */
  .showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(https://image.ibb.co/kYJK8x/showcase.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 15px;
    border-right: 5px solid #66fcf1;
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
  
  .showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
  }
  
  .showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
  }
  
  /* Top Box */
  .top-box {
    background: #0b0c10;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    padding: 1.5rem;
    border-right: 5px solid #66fcf1;
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }

  .box-btn{
    color: inherit;
    border: none;
    background: none;
    font-weight: bold;
    margin-top: auto;
    padding: 0.75em 2em;
    border-radius: 5px;
    color: #0b0c10;
    background: #66fcf1;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }

  .box-btn:hover,
  .box-btn:focus {
    color: #0b0c10;
    background: #45a29e;
    outline: none;
  }
  
  .top-box .price {
    font-size: 2.5rem;
  }
  
  .top-box-a {
    grid-area: top-box-a;
  }
  
  .top-box-b {
    grid-area: top-box-b;
  }
  
  /* Boxes */
  .boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .box {
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
  }
  
  .info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
  }
  
  .portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
  }
  
  @media (max-width: 700px) {
    .top-container {
      grid-template-areas:
        'showcase showcase'
        'top-box-a top-box-b';
    }
  
    .showcase h1 {
      font-size: 2.5rem;
    }
  
    .main-nav ul {
      grid-template-columns: 1fr;
    }
  
    .info {
      grid-template-columns: 1fr;
    }
  
    .info .button {
      display: block;
      text-align: center;
      margin: auto;
    }
  }
  
  @media (max-width: 500px) {
    .top-container {
      grid-template-areas:
        'showcase'
        'top-box-a'
        'top-box-b';
    }
  }
  
  /* Products css variables */
.product-boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.box-product {
    text-align: center;
    padding: 1.5rem 2rem;
}

.gridwr hr{
    width: 80%;
    height: 4px;
    border: none;
    background-color: #ffdf01;
    color: #ffdf01;
}
.gridwr p{
    font-size: 25px;
}

/* Login css variables */

.form-div{
    width: 90%;
    flex: 1 0 auto;
    margin: 5% auto;  
    max-width: 400px;
    text-align: center;
    border-radius: 15px;
    background: #f0f0f0;
    box-shadow: var(--shadow);
}

.form-div a{
    color: #ffdf01;
}

.form-btn{
    background: #343434;
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    width: 100%;
}

.form-header{
    color: #f0f0f0;
    background-size: cover;
    background-position: center;
    background-image: url("https://i.imgur.com/wkjbzYZ.png");
    box-shadow: var(--shadow);
    border-top-left-radius: 15px;
}

.form-header h1{
}

.form-header img{
    max-width: 100px
}

.form-input{
    color: #ffff;
}

.form-label{
    color: #ffff;
}

/* Main head */

.main-head{
    height: 300px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url("https://res.cloudinary.com/degtjs2lg/image/upload/v1557852465/header-image_sfoccw.png");
    box-shadow: var(--shadow);
}

.main-head h1{
    margin: 0;
    color: #f0f0f0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* CSS custom buttons */

.delete_btn{
    display: block;
    background-color: #c0392b;
    width: 50%;
    height: 2.5rem;
    margin: auto;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.edit_btn{
    display: block;
    background-color: #27ae60;
    width: 50%;
    height: 2.5rem;
    margin: auto;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
  
/* CSS variables product cards*/

.product-cards {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card-box{
    width: 100%;
    height: 100%;
    max-width: 325px;
    max-height: 498.5px;
    margin-bottom: 5%;
}

.card-product {
    position: relative;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
    margin: 5% 1%;
    border-right: 5px solid #66fcf1;
}

.card-product img{
    border-radius: 10px;
    z-index: 0;
}

.card-item{
    width: 100%;
    display: inline-block;
    margin-right: 6px;
    text-align: center;
}

.card-item figure{
  font-family: "Franklin Gothic Medium";
	color: rgba(89, 89, 89, 1);
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 0.02rem;
	text-align: center;
	text-transform: uppercase;
}

.card-item figure img{
    width: 100%;
    height: auto;
}

.card-item figure:hover{
    transform: scale(1.05);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
}

.card-info{
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: #fff;
    height: 35%;
    width: 100%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.card-info .card-info-holder{
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    white-space: inherit;
    align-items: center;
}

.card-info .card-price{
    flex: 1;
    text-align: center;
}

.card-info .card-price strong {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    color: #1f2833;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.2px;
}

.card-info .card-price span {
    font-size: 1.6rem;
    color: #0b0c10;
    padding: .18em 0;
    display: inline-block;
}

.card-info .card-price p{
  margin-bottom: 1%;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 20px;
  line-height: 20px;
  width: 100%;
  color: #0b0c10;
  font-size: 1.5em;
  font-weight: 8em;
  letter-spacing: -0.2px;
}

.card-btn {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    margin: auto;
    top: calc(68% - 100px);
    color: #fff;
    text-align: center;
}
.card-btn a {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #66fcf1;
    background-image: linear-gradient(#66fcf1, #45a29e);
    display: block;
    clear: both;
    margin: auto;
    border-radius: 100%;
    top: calc(500% + 46px);
    box-shadow: 0 2px 0 #45a29e, 0 3px 10px #45a29d49, 0 0px 10px #45a29d49, 0 0px 4px #45a29d49, 0 5px 20px #45a29d49, 0 15px 40px #45a29d49, inset 0 0 15px #45a29d49;
    overflow: hidden;
}

.card-btn a:after {
    content: '';
    font-style: normal;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/icon-add-f.svg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center center;
    left: 0;
    top: 0;
}

/* CSS variables shopping cart */
  
  .clearfix {
    content: "";
    display: table;
    clear: both;
  }
  
  #site-header,
  #site-footer {
    background: #fff;
  }
  
  #site-header {
    margin: 0 0 30px 0;
  }
  
  #site-header h1 {
    font-size: 31px;
    font-weight: 300;
    padding: 40px 0;
    position: relative;
    margin: 0;
  }
  
  a {
    color: #000;
    text-decoration: none;
  
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
  }
  
  a:hover {
    color: #ffffff;
  }
  
  #site-header h1 span {
    color: #343434;
  }
  
  #site-header h1 span.last-span {
    background: #fff;
    padding-right: 150px;
    position: absolute;
    left: 217px;
  
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  #site-header h1:hover span.last-span,
  #site-header h1 span.is-open {
    left: 363px;
  }
  
  #site-header h1 em {
    font-size: 16px;
    font-style: normal;
    vertical-align: middle;
  }
  
  .cart-container {
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
    width: 980px;
  }
  
  #cart {
    width: 100%;
  }
  
  #cart h1 {
    font-weight: 300;
  }
  
  #cart a {
    color: #343434;
    text-decoration: none;
  
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
  }
  
  #cart a:hover {
    color: #000;
  }
  
  .product.removed {
    margin-left: 980px !important;
    opacity: 0;
  }
  
  .product {
    border: 1px solid #eee;
    margin: 20px 0;
    width: 100%;
    height: 195px;
    position: relative;
  
    -webkit-transition: margin 0.2s linear, opacity 0.2s linear;
    -moz-transition: margin 0.2s linear, opacity 0.2s linear;
    -ms-transition: margin 0.2s linear, opacity 0.2s linear;
    -o-transition: margin 0.2s linear, opacity 0.2s linear;
    transition: margin 0.2s linear, opacity 0.2s linear;
  }
  
  .product img {
    width: 100%;
    height: 100%;
  }
  
  .product header,
  .product .content {
    background-color: #fff;
    border: 1px solid #ccc;
    border-style: none none solid none;
    float: left;
  }
  
  .product header {
    background: #000;
    margin: 0 1% 20px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 24%;
    height: 195px;
  }
  
  .product header:hover img {
    opacity: 0.7;
  }
  
  .product header:hover h3 {
    bottom: 73px;
  }
  
  .product header h3 {
    background: #cc0000;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
    position: absolute;
    bottom: -50px;
    right: 0;
    left: 0;
  
    -webkit-transition: bottom 0.2s linear;
    -moz-transition: bottom 0.2s linear;
    -ms-transition: bottom 0.2s linear;
    -o-transition: bottom 0.2s linear;
    transition: bottom 0.2s linear;
  }
  
  .remove {
    cursor: pointer;
  }
  
  .product .content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 140px;
    padding: 0 20px;
    width: 75%;
  }
  
  .product h1 {
    color: #343434;
    font-size: 25px;
    font-weight: 300;
    margin: 17px 0 20px 0;
  }
  
  .product footer.content {
    height: 50px;
    margin: 6px 0 0 0;
    padding: 0;
  }
  
  .product footer .price {
    background: #fcfcfc;
    color: #000;
    float: right;
    font-size: 15px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
  }
  
  .product footer .full-price {
    background: #343434;
    color: #fff;
    float: right;
    font-size: 22px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
  
    -webkit-transition: margin 0.15s linear;
    -moz-transition: margin 0.15s linear;
    -ms-transition: margin 0.15s linear;
    -o-transition: margin 0.15s linear;
    transition: margin 0.15s linear;
  }
  
  .qt,
  .qt-plus,
  .qt-minus {
    display: block;
    float: left;
  }
  
  .qt {
    font-size: 19px;
    line-height: 50px;
    width: 70px;
    text-align: center;
  }
  
  .qt-plus,
  .qt-minus {
    background: #fcfcfc;
    border: none;
    font-size: 30px;
    font-weight: 300;
    height: 100%;
    padding: 0 20px;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
  }
  
  .qt-plus:hover,
  .qt-minus:hover {
    background: #343434;
    color: #fff;
    cursor: pointer;
  }
  
  .qt-plus {
    line-height: 50px;
  }
  
  .qt-minus {
    line-height: 47px;
  }
  
  #site-footer {
    margin: 30px 0 0 0;
  }
  
  #site-footer {
    padding: 40px;
  }
  
  #site-footer h1 {
    background: #fcfcfc;
    border: 1px solid #ccc;
    border-style: none none solid none;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 7px 0;
    padding: 14px 40px;
    text-align: center;
  }
  
  #site-footer h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0 0 0;
  }
  
  #site-footer h3 {
    font-size: 19px;
    font-weight: 300;
    margin: 15px 0;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .btn {
    background: #343434;
    border: 1px solid #999;
    border-style: none none solid none;
    cursor: pointer;
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 16px 0;
    width: 290px;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .btn:hover {
    color: #fff;
    background: #429188;
  }
  
  .type {
    background: #fcfcfc;
    font-size: 13px;
    padding: 10px 16px;
    left: 100%;
  }
  
  .type,
  .color {
    border: 1px solid #ccc;
    border-style: none none solid none;
    position: absolute;
  }
  
  .color {
    width: 40px;
    height: 40px;
    right: -40px;
  }
  
  .red {
    background: #cb5a5e;
  }
  
  .yellow {
    background: #f1c40f;
  }
  
  .blue {
    background: #3598dc;
  }
  
  .minused {
    margin: 0 50px 0 0 !important;
  }
  
  .added {
    margin: 0 -50px 0 0 !important;
  }

/* CSS variables profile*/

.card-profile{
  width: 100%;
  margin-top: 4%;
  min-height: 600px;
  border-radius: 10px;
  box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
}

.card-profile .card-left{
  width: 100%;
  height: 100%;
  display: table;
  color: #f0f0f0;
  max-height: 600px;
  text-align: center;
  background-color: #1f2833;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 5px solid #66fcf1;
}

.card-profile .card-left .card-content{
  width: 100%;
  height: 100%;
  max-height: 600px;
  display: table-cell;
	vertical-align: middle;
}

.card-profile .card-left strong{
  font-size: 1.5rem;
}

.card-profile .card-left img{
  max-width: 100px;
}

.card-profile .card-right{
  width: 100%;
  height: 100%;
  max-height: 600px;
  text-align: center;
  display: table;
}

.card-profile .card-right .card-content{
  width: 100%;
  height: 100%;
  max-height: 600px;
  display: table-cell;
	vertical-align: middle;
}

.card-profile .card-right .card-content .card-img{ 
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  border-style: solid;
  border-color: #66fcf1;
  border-width: 5px;
}

.card-profile .card-right .card-content strong{ 
  font-size: 2rem;
}

.card-profile .card-right .card-content span{ 
  margin-top: 2%;
  color: #5E5E5E;
  padding: .18em 0;
  font-size: 1.3rem;
}

.card-profile .card-right .card-content button{ 
  width: 50%;
  color: #f0f0f0;
  font-size: 1.3rem;
  margin-bottom: 10%;
  border-radius: 10px;
  background-color: #343434;
}

/* CSS variables visual */

.bubble-noti{
  position: relative;
}

.bubble-noti .bubble-badge{
  height: 18px;
  min-width: 18px;
  top: 15%;
  right: -1%;
  padding: 3px;
  border: 1px solid #45a29e;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #66fcf1;
  position: absolute;
  color: #0b0c10;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.head-img{
  max-width: 45px;
  max-height: 45px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 2px solid #66fcf1;
}

.head-img .bubble-badge{
  height: 18px;
  min-width: 18px;
  top: 15%;
  right: -10px;
  padding: 3px;
  border: 1px solid #45a29e;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #66fcf1;
  position: absolute;
  color: #0b0c10;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

/* CSS variables login form */

.login-btn {
	border-radius: 20px;
	border: 1px solid #0b0c10;
	background-color: #0b0c10;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.login-btn:hover {
	background-color: #1f2833;
}

.login-btn:active {
	transform: scale(0.95);
}

.login-btn:focus {
  background-color: #1f2833;
}

.login-btn.ghost {
  background-color: transparent;
  color: #66fcf1;
	border-color: #66fcf1;
}

.login-btn:active{
  background-color: #1f2833;
}

form {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.cont {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 20px 20px 10px rgba(0,0,0,0.2);
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 90%;
  min-height: 700px;
  margin: auto;
}

.form-container {
  background: #fff;
  color: #0b0c10;
	position: absolute;
	top: 0;
	height: 100%;
  transition: all 0.6s ease-in-out;
}

.form-container h1{
  color: #0b0c10;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.cont.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.cont.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
  z-index: 100;
  background: #0b0c10;
}

.cont.right-panel-active .overlay-container {
	transform: translateX(-100%);
}

.overlay {
  border: 30px solid #0b0c10;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #66fcf1;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.cont.right-panel-active .overlay {
	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.cont.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 2px solid #1f2833;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

/* CSS variables pricing */

.pricing-container{
  width: 100%;
  margin-top: 5%;
}

.pricing-section {
  margin-bottom: 2%;
	min-height: 100vh;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
  align-items: center;
}

.pricing-section {
	padding: 0 0 8em;
	min-height: 100vh;
	position: relative;
}

.bg-1 {
	background: transparent;
	background-size: cover;
	color: #fff;
}

.pricing-section-title {
  color: #fff;
	font-size: 1.4em;
	font-weight: 700;
	margin: .1em 0 5em;
	flex: none;
}

.pricing {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto 3em;
}

.pricing-item {
  position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: stretch;
	align-items: stretch;
	text-align: center;
	-webkit-flex: 0 1 330px;
	flex: 0 1 330px;
	margin: 1em;
	padding: 2em;
	cursor: default;
	border-radius: 10px;
	background: #0b0c10;
	box-shadow: 0 5px 20px rgba(0,0,0,0.05), 0 15px 30px -10px rgba(0,0,0,0.3);
	-webkit-transition: background 0.3s;
  transition: background 0.3s;
  border-right: 5px solid #66fcf1; 
  /* border-left: 5px solid #66fcf1; */
  /* border: 3px solid #66fcf1; */
  box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
}

.pricing-item:hover {
	background: #1f2833;
}

.pricing-title {
	font-size: 2em;
	width: 100%;
	margin: 0 0 0.25em;
	padding: 0 0 0.5em;
	border-bottom: 3px solid rgb(27, 26, 28);
}

.pricing-price {
	color: #66fcf1;
	font-size: 1.75em;
	padding: 1em 0 0.75em;
}

.pricing-sentence {
	font-weight: bold;
}

.pricing-feature-list {
  text-align: left;
  margin: 0;
	padding: 1em 1.25em 2em;
}

.pricing-action {
	color: inherit;
	border: none;
  background: none;
  font-weight: bold;
	margin-top: auto;
	padding: 0.75em 2em;
  border-radius: 5px;
  color: #0b0c10;
	background: #66fcf1;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}

.pricing-action:hover,
.pricing-action:focus {
  background: #45a29e;
	outline: none;
}